<div class="loginContainer">
    
    <form action="" class="logInForm">
        <h1 *ngIf="showLogIn()">Log in</h1>
        <h1 *ngIf="showSignUp()">Sign up</h1>
        <input type="text" placeholder="Username" class="username" required>
        <input type="text" placeholder="Email" class="email" *ngIf="showSignUp()">
        <input type="password" placeholder="Password" class="password" required>
        <button type="submit" class="submit" *ngIf="showLogIn()">Log in</button>
        <button class="signUp" (click)="goSignUp()" *ngIf="showSignUp()">Sign Up</button>
        <p *ngIf="!showLogIn()">Already have a account? <a (click)="goLogIn()">Log in</a></p>
        <p *ngIf="!showSignUp()">Don't have a account? <a (click)="goSignUp()"> Sign Up </a></p>
    </form>
</div>