.navBar{
    background-color: var(--fourth-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.navBarlinks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 1rem;
}