<div class="productsListContainer">
    <h1>Products</h1>
    <div class="productsList">
        <div *ngFor="let product of products" class="productCard">
            <div class="productImageDiv">
                <img [src]="getMediaUrl(product.id)" alt="" class="productImage">
            </div>
            <div class="productInfoDiv">
               <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>{{product.price}}€</p> 
                <p>{{product.userid}}</p>
            </div>
        </div>
    </div>
</div>