.mediaManagmentContainer {
  margin-left: 15rem;
}
.mediaImage {
  width: 20rem;
  object-fit: cover;
}
.mediaUrlContainer {
  width: calc(100% - 20rem);
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
@media (max-width: 768px) {
  .mediaManagmentContainer {
    margin-left: 6rem;
  }
}
