<div class="bakground" *ngIf="showEdit"></div>
<div class="mediaManagementContainer">
  <div *ngIf="username$ | async as username">
    <h1>Media management for {{ username }}</h1>
  </div>

  <!-- Display all of the user's media -->
  <div class="mediaUrlContainer">
    <div *ngFor="let media of allMedia" class="mediaItem">
      <div class="infoDiv">
        <span
          class="material-symbols-outlined edit"
          (click)="toggleEdit(media.productId)"
        >
          edit
        </span>
        <span class="material-symbols-outlined delete"> delete </span>
      </div>
      <img
        [src]="'https://localhost:8443/' + media.mediaUrl"
        alt="User's media"
        class="mediaImage"
      />
    </div>
  </div>

  <!-- edit media modal -->
  <div class="mediaEditContainer" *ngIf="showEdit">
    <span class="material-symbols-outlined close" (click)="toggleEdit()">
      close
    </span>
    <form (ngSubmit)="submitEditMedia()" class="editForm">
      <h1>Edit</h1>
      <input type="file" class="file" id="file" />
      <button type="submit" (click)="submitEditMedia()">Edit</button>
    </form>
  </div>
</div>
