<div class="mediaManagementContainer">
  <div *ngIf="username$ | async as username">
    <h1>Media management for {{ username }}</h1>
  </div>

  <!-- Display all of the user's media -->
  <div class="mediaUrlContainer">
    <div *ngFor="let mediaUrl of allMediaUrls" class="mediaItem">
      <div class="infoDiv">
        <span class="material-symbols-outlined edit"> edit </span>
        <span class="material-symbols-outlined delete"> delete </span>
      </div>
      <img
        [src]="'https://localhost:8443/' + mediaUrl"
        alt="User's media"
        class="mediaImage"
      />
    </div>
  </div>
</div>
